form{
	width: 300px;
	margin: 0 auto;
}
input[type="button"]{
	width: 20%;
	margin: 5px;
	height: 30px;
}
input[type="text"]{
	width:279px;
	height: 30px;
	text-align: right;
	font-size: 16px;
	margin-left: 5px;
}
input[value="="]{
	width: 95%;
}
